* {
    margin: 2px;
    font-size: 0.5rem;
    box-sizing: border-box;
}

ul { 
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}