.wrapper>header {}

.wrapper>header>.top-header {
  
}

.wrapper>header>.top-header>.logo {}

.wrapper>header>.top-header>ul {
    display:none;
}

.wrapper>header>.top-header>ul>li {}

.wrapper>header>.top-header>ul>li:last-child::before {}

.wrapper>header>.top-header>ul>li>a {}

.wrapper>header>.top-header>.sitemenu{
    display:block;
}
.wrapper>header>nav {}

.wrapper>header>nav>ul {

}
.wrapper>header>nav>ul>li {
    flex-shrink: 0;
    flex-basis: 100%;
}

.wrapper>header>nav>ul>li>a {
    
}